@model IEnumerable<TP1DsvAspNet.Domain.Friend>;

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
<h4 class="text-muted">Name - Surname - Birth date</h4>

<div>
    <h4>Friend</h4>
    <hr />

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <p>
        <a asp-action="Index">Index</a>
    </p>
    <table class="table table-hover" style="text-align: center;">
        <thead>
            <tr>
                <th>Select</th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="friendChecked" name="friendChecked">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
